.Rproj.user
.Rhistory
.RData
.Ruserdata
.data.csv
init_simple.js
main_test-reduced.html
main-test.html
resizeCue.svg
test_data_generate.R
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
www/assets/
www/index.html
index-294092bd.css
index-8f1dc207.js
.vite
semPathTest.R
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
demo-todo-app.spec.ts
src/test-results
inst
index.html
src/playwright-report
