.menu {
    background-color: #f8f8f8;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 30px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    position: relative;
}


.menu>ul>li>a {
    display: block;
    padding: 8px 20px;
    /* Increased horizontal padding */
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 14px;
}

.menu>ul>li:hover>a {
    background-color: rgba(0, 0, 0, 0.05);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: auto;
    /* Set the width to auto */
    white-space: nowrap;
    /* Prevent text from wrapping */
}


.submenu li {
    display: none;
    height: auto;
    /* Ensure that li elements are not constraining height */
}


.submenu a {
    display: none;
    /* Ensure that a elements are block elements */
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;
}

.submenu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.toolbox-btn {
    margin: 0 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.toolbox {
    background-color: #f8f8f8;
    height: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toolbox-btn {
    margin: 0 5px;
    padding: 8px 16px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: relative;
    border: none;
    background: none;
}

.toolbox-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-latent-variable::before {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

#add-manifest-variable::before {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
}

#add-constant-variable::before {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 21px solid black;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-constant-variable::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11.5px solid transparent; /* Approximately half of 23.09px */
    border-right: 11.5px solid transparent;
    border-bottom: 20px solid white; /* Same height as the manifest variable */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.selection-container {
    display: flex;
    align-items: center;
}

.available-variables,
.selected-variables {
    flex: 1;
}

.buttons {
    text-align: center;
    margin: 0 10px;
}


.draggable-box {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 10;
    cursor: move;
}

.draggable-box-header {
    padding: 8px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    cursor: move;
}

/* Existing CSS */
.checkmark-container {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

/* Additional CSS */
.checkmark-container label {
    font-weight: normal;
    display: inline;
    /* Make sure the label is displayed inline */
    vertical-align: middle;
}

.checkmark {
    display: inline-block;
    width: 12px;
    margin-right: 5px;
    vertical-align: middle;
    /* Vertically align the checkmark */
}

.fileInput{
    display: none;
}
